<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active color">
        <img class="d-block w-100 img-fluid" src="assets/img/5__DSC006.jpg" alt="First slide">

        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Bolsa De Empleo</h2>
          <p class="lead">Abre tus puertas al mundo laboral, encuentra aquí una oportunidad para Ti.</p>
        </div>
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100 h-100 img-fluid" src="assets/img/5__DSC001.jpg" alt="Second slide">

        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Emprendimiento</h2>
          <p class="lead">Conoce a nuestros graduados emprendedores. Si deseas emprender tu negocio, aquí te ayudamos.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="assets/img/5__DSC003.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Educación Continua</h2>
          <p class="lead">Graduado ESPE tu formación complementaria nos importa. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="assets/img/5__DSC005.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Graduados en el mundo</h2>
          <p class="lead">¡Conoce más de quienes ahora son embajadores ESPE!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="assets/img/5__DSC007.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Cuéntanos tu historia y éxitos profesionales</h2>
          <p class="lead">Graduado ESPE comparte tu historia de vida con nosotros.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- debajo del header -->

<div class="containerben col-lg-12" style="text-align: center;">
  <br>
  <h2 style="font-family: 'Arial Narrow', Arial, sans-serif">Revisa</h2>
</div>
<!-- fin debajo del header -->


<!-- Projects Section -->
<section id="projects" class="bg-light">
  <div class="container col-lg-12">
    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-12 mb-lg-0">

      <div class=" col-xs-12 col-sm-6 col-md-6 mx-auto">
        <div class="card prueba " [routerLink]="['/web/graduados']">
          <img class="img-fluid img1" src="assets/img/graduados.jpg" alt="Bologna" >
          <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
            <h4 class="card-title">Graduados en el Mundo</h4>
            <p class="text">¡Conoce más de quienes ahora son embajadores ESPE!</p>

            <div class="link d-flex justify-content-center">
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
      <div class=" col-xs-12 col-sm-6 col-md-6 mx-auto">
        <!--col-lg-5 order-lg-first-->
        <div class="card prueba" [routerLink]="['/web/historias']">
          <img class="img-fluid img2" src="assets/img/historias.jpg" alt="Bologna" >
          <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
            <h4 class="card-title">Cuéntanos tu historia y éxitos profesionales</h4>
            <p class="text">Graduado ESPE comparte tu historia de vida con nosotros.</p>

            <div class="link d-flex justify-content-center">
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
        <div class="card prueba" [routerLink]="['/web/emprendimiento']">
          <img class="img-fluid img2" src="assets/img/logocoord.jpeg" alt="Bologna" >
          <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
            <h4 class="card-title">Emprendimiento</h4>
            <p class="text">Conoce a nuestros graduados emprendedores. Si deseas emprender tu negocio, aquí te ayudamos.
            </p>

            <div class="link d-flex justify-content-center" style="bottom: 2%">

              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-12 mb-lg-0">
      <div class=" col-xs-12 col-sm-6 col-md-6 mx-auto">
        <div class="card prueba " [routerLink]="['/web/hgg']">
          <img class="img-fluid img2" src="assets/img/difundetu.jpg" alt="Bologna" >
          <div class="card-img-overlay text-white d-flex flex-column justify-content-right">
            <h4 class="card-title">Difunde tu Proyecto</h4>
            <p class="text"></p>

            <hr class="d-none d-lg-block mb-0 mr-0">

          </div>
        </div>
      </div>
      <div class=" col-xs-12 col-sm-6 col-md-6 mx-auto">
        <!--col-lg-5 order-lg-first-->
        <div class="card prueba" onclick="location.href='https://bolsadeempleo.espe.edu.ec/#/postulantes'">
          <img class="img-fluid img2" src="assets/img/bolsaempleo.jpg" alt="Bologna" style="height:390px;">
          <div class="card-img-overlay text-white d-flex flex-column justify-content-left">
            <h4 class="card-title">Bolsa de Empleo</h4>
            <p class="text">Abre tus puertas al mundo laboral, encuentra aquí una oportunidad para Ti. </p>

            <div class="link d-flex justify-content-center">


              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-12 mb-lg-0">
      <div class=" col-xs-12 col-sm-6 col-md-6 mx-auto">
        <div class="card prueba" onclick="location.href='https://ugp.espe.edu.ec'">
          <img class="img-fluid img2" src="assets/img/centroPostgradorec.jpg" alt="Bologna" >
          <div class="card-img-overlay text-white d-flex flex-column justify-content-right">
            <h4 class="card-title">Centro de Postrgrado</h4>
            <p class="text"><a href="https://ugp.espe.edu.ec/">( VA AL LINK DE POSGRADOS)</a></p>

            <div class="link d-flex justify-content-center">

              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
      <div class=" col-xs-12 col-sm-6 col-md-6 mx-auto">
        <!--col-lg-5 order-lg-first-->

        <div class="card prueba" onclick="location.href='https://cec.espe.edu.ec/'">
          <img class="img-fluid img2" src="assets/img/Captura.jpg" alt="Bologna" style="height:390px;">
          <div class="card-img-overlay text-white d-flex flex-column justify-content-left reveal">

            <h4 class="card-title">Centro de Educacion Continua</h4>
            <p class="text">Graduado ESPE tu formación complementaria nos importa. </p>

            <div class="link d-flex justify-content-center">

              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---

  <h3 class="my-4"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contador de visitas</h3>

<div class="row justify-content-center">

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
  </div>

</div>


</section>




<-- Contact Section -->
  <section id="signup" class="contact-section bggreen">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt  mb-2 fa-2x"></i>
              <h5 class="text-uppercase m-0" style="font-family:  'Arial Narrow', Arial, sans-serif;color: white">
                Dirección: </h5>
              <hr class="my-4">
              <div class="small " style="font-family:  'Arial Narrow', Arial, sans-serif;color: white">
                <h6> Av. Gral. Rumiñahui s/n Sangolquí – Ecuador</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope  mb-2 fa-2x "></i>
              <h5 class="text-uppercase m-0" style="font-family:  'Arial Narrow', Arial, sans-serif;color: white">E-
                mail:</h5>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#" style="font-family:  'Arial Narrow', Arial, sans-serif;">
                  <h6> alumni@espe.edu.ec </h6>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt  mb-2 fa-2x" style="color: white"></i>
              <h5 class="text-uppercase m-0" style="font-family:  'Arial Narrow', Arial, sans-serif;color: white">
                Teléfonos:</h5>
              <hr class="my-4">
              <div class="small " style="font-family:  'Arial Narrow', Arial, sans-serif;color: white">
                <h6> (593 2) 3989400 Ext. 2602/2604</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="https://twitter.com/ESPEU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/ESPE.U/" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.espe.edu.ec/" class="mx-2">
          <i class="fab "> E</i>
        </a>
      </div>

    </div>
  </section>