<section id="projects" class="projects-section bg-light" align="center">
  <div class="container col-lg-12">
    <section id="intro" class="clearfix">
      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-6 intro-info order-md-first order-last">
            <h2><br><span>{{titulo}}</span></h2>
          </div>
          <div class="col-md-6 intro-img order-md-last order-first">
            <img src="assets/img/emprendimiento2.png" class="img-fluid" width="300px" height="300px">
          </div>
        </div>
      </div>
    </section><!-- #intro -->
  </div>
</section>
<br>

<div class="borde4">
  <p align="center" class="borde3">
    {{subtitulo}}
  </p>
</div>





<br>
<br>
<section id="about">

  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-md-6">
        <div class="about-img">
          <img src="assets/img/empre.jpg" alt="">
        </div>
      </div>

      <div class="col-lg-7 col-md-6">
        <div class="about-content">
          <h2>{{titulo1}}</h2>

          <p align="justify">{{txt}}</p>
          <br>

        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
    <br>
    <div class="borde">
      <p align="center" class="borde2" onclick="location.href='http://uei.espe.edu.ec/'">
        <a href="http://uei.espe.edu.ec/" class="letra"> Emprende, Te decimos cómo hacerlo. Recibe asesoría y
          capacitación Gratuita!! </a>
      </p>
    </div>
  </div>
</section>