<br>
<br>
<br>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Iniciar Sesión
					</span>

        <br><br>
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;" [(ngModel)]="persona.personaBanner" name="personaBanner">
            <span class="label">Cedula</span>
            <span class="border"></span>
          </label>
        </div>
        <br>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <label for="inp" class="inp">
            <input [type]="tipoInput" class="contrasena" id="inp" placeholder="&nbsp;" [(ngModel)]="persona.password"
                   name="password">
            <span class="label">Contraseña</span>
            <span class="border"></span>
          </label>
          <i *ngIf="tipoInput == 'password'" (click)="mostrarContrasena(tipoInput)" class="far fa-eye fa-2x arreglo"></i>
          <i *ngIf="tipoInput == 'text'" (click)="mostrarContrasena(tipoInput)" class="far fa-eye-slash fa-2x arreglo"></i>
        </div>
        <br>

        <div *ngIf="registro" class="wrap-input100 validate-input" data-validate="Password is required">
          <label  class="inp">
            <input  [type]="tipoInput"  id="inp" placeholder="&nbsp;" [(ngModel)]="rPassword" name="rPassword">
            <span class="label">Repetir Contraseña</span>
            <span class="border"></span>
          </label>
        </div>

        <br>
        <div *ngIf="!registro" class="container-login100-form-btn">
          <button class="login100-form-btn btn-success" (click)="login()">
            Iniciar Sesión
          </button>
        </div>
        <div *ngIf="registro" class="container-login100-form-btn">
          <button class="login100-form-btn btn-success" (click)="register()">
            Registrarse
          </button>
        </div>

        <div *ngIf="!registro" class="text-center p-t-46 p-b-20">
          <a class="txt2" (click)="registro = true">
            ¿No tienes Cuenta? Registrate
          </a>
        </div>

        <div *ngIf="registro" class="text-center p-t-46 p-b-20">
          <a class="txt2" (click)="registro = false">
            ¿Ya tienes Cuenta? Iniciar Sesion
          </a>
        </div>


      </form>
      <div class="login100-more" style="background-image: url('assets/img/login.jpg');">
      </div>

    </div>
  </div>
</div>
