<br>
<br>
<br>
<!--
<section>
        <div class="colorBar col-lg-12"
        style="color: rgb(0, 0, 0);background-color: white; border-bottom: 9px solid #0275d8;font-size: 100%  " >
          <br>
          <h2>Beneficios y Servicios</h2>
          <br>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card_servi">
                    <div class="card">
                        <div class="card-body text-center">
                            <p>
                                <img class="img-fluid" src="../../../assets/img/descarga.png" alt="imagen">
                            </p>
                            <h4 routerLink="" class="card-title">sdfsdfsdfsdf</h4>
                            <p class="card-text">
                                sdfsfsfsdfsdfsdf
                            </p>
                            <a href="#" class="btn btn-block btn-primary" target="_blank">ok</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card_servi">
                    <div class="card">
                        <div class="card-body text-center">
                            <p>
                                <img class="img-fluid" src="../../../assets/img/descarga.png" alt="imagen">
                            </p>
                            <h4 routerLink="" class="card-title">sdfsdfsdfsdf</h4>
                            <p class="card-text">
                                sdfsfsfsdfsdfsdf
                            </p>
                            <a href="#" class="btn btn-block btn-primary" target="_blank">ok</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card_servi">
                    <div class="card">
                        <div class="card-body text-center">
                            <p>
                                <img class="img-fluid" src="../../../assets/img/descarga.png" alt="imagen">
                            </p>
                            <h4 routerLink="" class="card-title">sdfsdfsdfsdf</h4>
                            <p class="card-text">
                                sdfsfsfsdfsdfsdf
                            </p>
                            <a href="#" class="btn btn-block btn-primary" target="_blank">ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section id="projects" class="projects-section bg-light">
    <div class="container col-lg-12">
        <section id="intro" class="clearfix">
            <div class="container d-flex h-100">
                <div class="row justify-content-center align-self-center">
                    <div class="col-md-6 intro-info order-md-first order-last">
                        <h2>beneficios <br> y <span>servicios </span></h2>
                        <p class="txt">Graduado ESPE, conoce los servicios y beneficios a los que puedes acceder.</p>
                    </div>
                    <div class="col-md-6 intro-img order-md-last order-first">
                        <img src="assets/img/servicios.png" class="img-fluid" width="300px" height="300px">
                    </div>
                </div>
            </div>
        </section><!-- #intro --><br><br><br><br><br><br><br>
        <section>
            <div class="row">
                <div class="col-lg-4">
                    <img src="assets/img/serv0.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2019/01/FOLLETO-YO-QUIERO-beneficios-Banco-Pichincha-2019.pdf"> banco de pichincha</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv1.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2018/10/hostal-virgen-del-cisne-PDF-MICROSITIO.pdf"> hostal virgen del cisne</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv2.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2018/05/CARTA-PROMOCION-EL-PALOMAR.pdf"> el palomar</a></p>
                </div>
            </div> <br><br>
            <div class="row"><br><br><br><br>
                <div class="col-lg-4">
                    <img src="assets/img/serv3.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2018/03/Perfil-Globandina-1.pdf"> globandina</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv4.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2017/01/AFICHE-PROMOCIONAL.jpg"> guille rocket</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv5.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/11/ESPE-GRADUADOS-OFERTA-NOV2016-NOV-2017.pdf"> latam</a></p>
                </div>
            </div><br><br><br><br>
            <div class="row">
                <div class="col-lg-4">
                    <img src="assets/img/serv6.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2018/04/Presentaci%C3%B3n-ESPE-2018.pdf"> best western</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv7.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://onedrive.live.com/view.aspx?ref=name&Bsrc=Share&Bpub=SDX.SkyDrive&resid=C0AAE3A51D62D68B!285&cid=c0aae3a51d62d68b&app=PowerPoint&authkey=!AnrFnKfy0k7eGNk"> fourep</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv8.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/03/ESPE-promociones-EDIFARM.pdf">edifarm</a></p>
                </div>
            </div> <br><br><br><br>
            <div class="row">
                <div class="col-lg-4">
                    <img src="assets/img/serv9.PNG" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/04/OFERTA-MEDIKAL-ESPE-19-04-2016.pdf"> medíkal estetík</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv10.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2018/09/Beneficios-ESPE-sep-2018.pdf"> ch farina</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv11.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/04/AVISO-CEPWEB-LIGHT-ESPE-1.pdf"> cep</a></p>
                </div>
            </div><br><br><br><br>
            <div class="row">
                <div class="col-lg-4">
                    <img src="assets/img/serv12.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://ube.espe.edu.ec/"> ube ESPE</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv13.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/04/PLAN-DE-BENEFICIOS-ITSA-TOURS-2015.pdf"> isa tours</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv14.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/05/ARTE-LAVCA-ESPE-31-05-2016.jpg"> lavca</a></p>
                </div>
            </div><br><br><br><br>
            <div class="row">
                <div class="col-lg-4">
                    <img src="assets/img/serv15.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/04/PLAN-BENEFICIOS-ESPE-NOV-2015.pdf"> traveler assistance</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv16.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/04/SERVICIOS+BENEFICIOS-actualizado-2015.pdf"> seven 7</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv17.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/04/Presentac.-Educa-Continua.png"> centro de educación continua ESPE</a></p>
                </div>
            </div><br><br><br><br>
            <div class="row">
                <div class="col-lg-4">
                    <img src="assets/img/serv18.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/04/UEI-OCT-20151.png"> ufi</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv19.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/04/PRESENTACION-GRADUADOS-ESPE-nov-2015.pdf"> manzana travel</a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv20.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="/web/servicios"> world exchange programs</a></p>
                </div>
            </div><br><br><br><br>
            <div class="row">
                <div class="col-lg-4">
                    <img src="assets/img/serv21.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://alumni.espe.edu.ec/wp-content/uploads/2016/05/Presentaci%C3%B3n-agencia-OCT-2015OFERTA.pdf"> tu destino travel </a></p>
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/serv22.png" width="300px" height="100" />
                    <p align="center" class="color"> <a href="https://www.espe-innovativa.edu.ec/"> ESPE-Innovativa</a></p>
                </div>
            </div>

        </section>
