.barra {
    border: 1px solid green;
    border-radius: 3px;
    color: white;
    background: rgb(1, 68, 1);
    position: relative;
    font-family: 'castellar', 'Arial Narrow', Arial, sans-serif
}
select,
option {
  color: green;
}

.centro{
    font-size: 120% ;
  }


.btn{
    border: 1px solid green;
    border-radius: 3px;
    color: white;
    background: rgb(1, 68, 1);
    position: relative;
    width: 40px;
    height: 40px;
}
.btn1{
    border: 1px solid green;
    border-radius: 6px;
    color: white;
    background: rgb(1, 68, 1);
    position: relative;
    width: 120px ;
    height: 40px;
}
.border{
    background: none;
}
.txt{
    border: none;
    color: rgb(0, 0, 0);
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130%;
}
.seleccion{
    border: 1px solid green;
    background: none;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    color: green;
}
.right{
    padding-left: 5%;
}