<section id="projects" class="projects-section bg-light">
  <div class="container col-lg-12">
    <section id="intro" class="clearfix">
      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-6 intro-info order-md-first order-last">
            <h2>{{titulo}}<br> {{titulo1}}|| <span>{{titulo2}}</span></h2>
          </div>

          <div class="col-md-6 intro-img order-md-last order-first">
            <img src="assets/img/intro-img.svg" alt="" class="img-fluid">'
          </div>
        </div>

      </div>
    </section><!-- #intro -->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="assets/img/about-img.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>{{subtitulo}}</h2>
              <p align="justify">{{texto}}</p>

            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="assets/img/success-1.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>{{subtitulo1}}</h2>
              <p align="justify">{{texto1}}</p>

            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->
  </div>
</section>